.graph {
  flex-grow: 1;
}

.legend {
  display: flex;
  justify-content: center;
}

.item {
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
