.container {
  margin-top: 40px;
}

.pisteWrapper {
  display: flex;
  align-items: center;
  padding: 30px;
}

.pisteWrapper:hover {
  background: #f8f8f8;
}

.pisteWrapper:hover .clear {
  display: block;
}

.pisteResort {
  margin-left: 16px;
}

.resort {
  font-size: 14px;
  color: #999;
}

.dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

.clear {
  margin-left: auto;
  display: none;
  cursor: pointer;
}

.autocomplete {
  max-width: 300px;
  padding: 30px;
}
